---
layout: post
title: will_paginate conditional display of links only if number of records is bigger
  than per_page value
date: 2008-11-05 14:30:35.000000000 +01:00
categories:
- ruby on rails
tags:
- gems
- pagination
- per_page
- ruby on rails
- will_paginate
status: draft
type: post
published: false
meta:
  _edit_last: '2'
author:
  login: kosmas
  email: kosmas@mach7x.com
  display_name: kosmas
  first_name: Kosmas
  last_name: Chatzimichalis
---
<p><strong>Problem</strong><br />
Using the new will_paginate gem, you want to conditionally display the previous. next links, only if the number of records is bigger than the value set in the per_page configuration variable.</p>
<p><strong>Solution</strong><br />
Instead of only using the:</p>
<pre class="code"><%= will_paginate @records %></pre>
<p>use the per_page to check before displaying the links, as in:</p>
<pre class="code"><% if @records.size > @records.per_page-1 %>
  <%= will_paginate @records %>
<% end %></pre>
